<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
<!-- based off of orbbec_description/urdf/gemini335Le.urdf.xacro -->

<xacro:macro name="gemini_335Le" params="
    parent
    name:='camera'
    *origin
    sim_gazebo:=false
    gz_fps:='5'
    gz_image_width:='848'
    gz_image_height:='530'">

  <!-- The original link started with camera_link -->
  <joint name="${name}_gemini_mount_fixed_joint" type="fixed">
    <parent link="${parent}" />
    <child link="${name}_link" />
    <xacro:insert_block name="origin"/>
  </joint>

  <link
    name="${name}_link">
    <inertial>
      <origin
        xyz="0.01235 -0.0020872 0.013243"
        rpy="0 0 0" />
      <mass
        value="0.043446" />
      <inertia
        ixx="6.3353E-05"
        ixy="-1.7904E-06"
        ixz="-8.8334E-08"
        iyy="8.2334E-06"
        iyz="3.3581E-07"
        izz="6.2898E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find orbbec_description)/meshes/gemini335Le/base_link_simplified.stl" />
      </geometry>
      <material name="">
        <color rgba="0.8 0.8 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.013 0 0.015" rpy="0 0 0" />
      <geometry>
        <box size="0.055 0.125 0.03"/>
      </geometry>
    </collision>
  </link>

  <link name="${name}_bottom_screw_frame" />
  <joint
    name="${name}_bottom_screw_frame_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="${name}_link" />
    <child
      link="${name}_bottom_screw_frame" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link name="${name}_infra2_frame" />
  <joint
    name="${name}_infra2_frame_joint"
    type="fixed">
    <origin
      xyz="0.034005 -0.0475 0.014048"
      rpy="0 0 0" />
    <parent
      link="${name}_link" />
    <child
      link="${name}_infra2_frame" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link name="${name}_infra2_optical_frame" />
  <joint
    name="${name}_infra2_optical_frame_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="${name}_infra2_frame" />
    <child
      link="${name}_infra2_optical_frame" />
    <axis
      xyz="0 0 0" />
  </joint>


  <link name="${name}_infra1_frame" />
  <joint
    name="${name}_infra1_frame_joint"
    type="fixed">
    <origin
      xyz="0.034005 0.0475 0.014048"
      rpy="0 0 0" />
    <parent
      link="${name}_link" />
    <child
      link="${name}_infra1_frame" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link name="${name}_infra1_optical_frame" />
  <joint
    name="${name}_infra1_optical_frame_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="${name}_infra1_frame" />
    <child
      link="${name}_infra1_optical_frame" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link name="${name}_depth_frame" />
  <joint
    name="${name}_depth_frame_joint"
    type="fixed">
    <parent
      link="${name}_infra1_frame" />
    <child
      link="${name}_depth_frame" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link name="${name}_depth_optical_frame" />
  <joint
    name="${name}_depth_optical_frame_joint"
    type="fixed">
    <parent
      link="${name}_infra1_optical_frame" />
    <child
      link="${name}_depth_optical_frame" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link name="${name}_color_frame" />
  <joint
    name="${name}_frame_frame_joint"
    type="fixed">
    <origin
      xyz="0.034014 0.02375 0.014048"
      rpy="0 0 0" />
    <parent
      link="${name}_link" />
    <child
      link="${name}_color_frame" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link name="${name}_color_optical_frame" />
  <joint
    name="${name}_color_optical_frame_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="${name}_color_frame" />
    <child
      link="${name}_color_optical_frame" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link name="${name}_imu_frame" />
  <joint
    name="${name}_imu_frame_joint"
    type="fixed">
    <origin
      xyz="0.019757 0.03619 0.013358"
      rpy="0 0 0" />
    <parent
      link="${name}_link" />
    <child
      link="${name}_imu_frame" />
    <axis
      xyz="0 0 0" />
  </joint>

  <xacro:if value="${sim_gazebo}">
    <!-- Use the realsense2_gz_description which can simulate a generic depth camera -->
    <xacro:include filename="$(find realsense2_gz_description)/urdf/rgbd_camera.gazebo.xacro" />
    <!-- TODO: Upstream changes required for a triggered RBGD camera -->
    <xacro:gazebo_rgbd
      name="${name}"
      gz_topic_name="${name}"
      fps="${gz_fps}"
      image_width="${gz_image_width}"
      image_height="${gz_image_height}"
      h_fov="${94 * pi/180}"
      v_fov="${68 * pi/180}"
      min_depth="0.25"
      max_depth="6.0" />
  </xacro:if>

</xacro:macro>
</robot>
