<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="gemini335L" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="gemini335L_336L.urdf.xacro"/>
    <!-- Define a virtual root link -->
  <link name="base_link"/>

  <!-- Connect the virtual root to the actual base link -->
  <joint name="base_link_to_camera_link" type="fixed">
    <parent link="base_link"/>
    <child link="camera_link"/>
    <origin xyz="0.011715 0.0475 0.014311" rpy="0 0 0"/>
  </joint>
</robot>
